@font-face {
    font-family: 'UTMHelvetIns';
    src: url('fonts/UTMHelvetIns.eot');
    src: url('fonts/UTMHelvetIns.eot') format('embedded-opentype'),
         url('fonts/UTMHelvetIns.woff2') format('woff2'),
         url('fonts/UTMHelvetIns.woff') format('woff'),
         url('fonts/UTMHelvetIns.ttf') format('truetype'),
         url('fonts/UTMHelvetIns.svg#UTMHelvetIns') format('svg');
}
